<div class="big-container">
  <div>
    <div *ngIf="volunteerPost">
      <h2 data-cy="volunteerPostDetailsHeading" class="big-title"><span>Volunteer Post</span></h2>

      <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>
      </div>

      <!-- <div class="main-box">
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Post Image:</p>
          </div>
          <div *ngIf="volunteerPost.img" class="img-container">
            <a (click)="openFile(volunteerPost.img, volunteerPost.imgContentType)">
              <img [src]="'data:' + volunteerPost.imgContentType + ';base64,' + volunteerPost.img"
                style="max-width: 200px" alt="volunteerPost image" />
            </a>
          </div>
        </div>

        <hr />

        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Shop Image:</p>
          </div>
          <div>
            <img [src]="'data:' + volunteerPost.shop?.logoContentType + ';base64,' + volunteerPost.shop?.logo"
              class="shop-img" style="max-width: 200px" alt="Shop Image" />
            {{ volunteerPost.shop?.logoContentType ? volunteerPost.shop?.logoContentType : 'N/A' }}
            , {{ byteSize(volunteerPost.shop?.logo) }}
          </div>
        </div>

        <hr />

        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Basic Info:</p>
          </div>
          <div>
            <div>
              <p>Post ID: {{ volunteerPost.id }}</p>
            </div>
            <div>
              <p>Post Title: {{ volunteerPost.postTitle }}</p>
            </div>
            <div>
              <p>Location: {{ volunteerPost.locationAddress }}</p>
            </div>
            <div *ngIf="volunteerPost.shop">
              <p>By: <a [routerLink]="['/shop', volunteerPost.shop.id, 'view']">{{ volunteerPost.shop.shopName }}</a></p>
            </div>
            <div>
              <p>Start Date: {{ (volunteerPost.startDate?.toDate() | date: 'yyyy-MM-dd') || 'N/A' }}</p>
            </div>
            <div *ngIf="volunteerPost.shop">
              <p>Shop ID:</p>
              <a [routerLink]="['/shop', volunteerPost.shop.id, 'view']">{{ volunteerPost.shop.id }}</a>
            </div>
          </div>
        </div>

        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Active Status:</p>
          </div>
          <p>{{ volunteerPost.activeStatus }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">About Us:</p>
          </div>
          <p>{{ volunteerPost.aboutUs }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">About the Role:</p>
          </div>
          <p>{{ volunteerPost.aboutRole }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Benefits:</p>
          </div>
          <p>{{ volunteerPost.benefits }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Days Required:</p>
          </div>
          <ul>
            <li *ngIf="volunteerPost.monday">Monday</li>
            <li *ngIf="volunteerPost.tuesday">Tuesday</li>
            <li *ngIf="volunteerPost.wednesday">Wednesday</li>
            <li *ngIf="volunteerPost.thursday">Thursday</li>
            <li *ngIf="volunteerPost.friday">Friday</li>
            <li *ngIf="volunteerPost.saturday">Saturday</li>
            <li *ngIf="volunteerPost.sunday">Sunday</li>
          </ul>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Shifts Required:</p>
          </div>
          <ul>
            <li *ngIf="volunteerPost.morning">Morning</li>
            <li *ngIf="volunteerPost.afternoon">Afternoon</li>
            <li *ngIf="volunteerPost.evening">Evening</li>
          </ul>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Our Contacts:</p>
          </div>
          <p>E-mail: {{ volunteerPost.email }}</p>
          <p>Contact Number: {{ volunteerPost.contactNum }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Active Status:</p>
          </div>
          <p>{{ volunteerPost.activeStatus }}</p>
        </div>
        <hr />

        <div class="text-center">
          <button type="submit" (click)="previousState()" class="btn btn-info back-button"
            data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
          </button>

          <button type="button" [routerLink]="['/volunteer-post', volunteerPost.id, 'edit']"
            class="btn btn-primary edit-button" *ngIf="shopID"
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        </div>
      </div> -->

      <div class="main-box">
        <div class="detail-img-container">
          <img [src]="'data:' + volunteerPost.imgContentType + ';base64,' + volunteerPost.img" class="volunteer-image" />
        </div>
        <div class="first-row">
          <div class="detail-profile-img-box">
            <img [src]="'data:' + volunteerPost.shop?.logoContentType + ';base64,' + volunteerPost.shop?.logo" class="profile-pic" />
          </div>
          <div class="detail-basic-info-box">
            <div class="volunteer-title detail-title-box">
              <p class="detail-title-p">{{ volunteerPost.postTitle }}</p>
            </div>
            <div>
              <p>Location: {{ volunteerPost.locationAddress }}</p>
            </div>
            <div *ngIf="volunteerPost.shop">
              <p>
                By: <a [routerLink]="['/shop', volunteerPost.shop.id, 'view']">{{ volunteerPost.shop.shopName }}</a>
              </p>
            </div>
            <div>
              <p>Start Date: {{ (volunteerPost.startDate?.toDate() | date: 'yyyy-MM-dd') || 'N/A' }}</p>
            </div>
          </div>
        </div>
        <div class="buttons-box">
          <!-- <button (click)="applyVolunteer(volunteerPost)">I'm Interested</button>
          <button (click)="scrollToElement('contact-section')">Contact Us</button> -->
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">About Us:</p>
          </div>
          <p>{{ volunteerPost.aboutUs }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">About the Role:</p>
          </div>
          <p>{{ volunteerPost.aboutRole }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Benefits:</p>
          </div>
          <p>{{ volunteerPost.benefits }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Days Required:</p>
          </div>
          <ul>
            <li *ngIf="volunteerPost.monday">Monday</li>
            <li *ngIf="volunteerPost.tuesday">Tuesday</li>
            <li *ngIf="volunteerPost.wednesday">Wednesday</li>
            <li *ngIf="volunteerPost.thursday">Thursday</li>
            <li *ngIf="volunteerPost.friday">Friday</li>
            <li *ngIf="volunteerPost.saturday">Saturday</li>
            <li *ngIf="volunteerPost.sunday">Sunday</li>
          </ul>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <p class="detail-title-p">Shifts Required:</p>
          </div>
          <ul>
            <li *ngIf="volunteerPost.morning">Morning</li>
            <li *ngIf="volunteerPost.afternoon">Afternoon</li>
            <li *ngIf="volunteerPost.evening">Evening</li>
          </ul>
        </div>
        <hr />
        <section id="contact-section">
          <div class="detail-section-box">
            <div>
              <p class="detail-title-p">Our Contacts:</p>
            </div>
            <p>E-mail: {{ volunteerPost.email }}</p>
            <p>Contact Number: {{ volunteerPost.contactNum }}</p>
          </div>
        </section>
        <hr />
        <div class="text-center">
          <button type="submit" (click)="previousState()" class="btn btn-info back-button" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
          </button>

          <button
            type="button"
            [routerLink]="['/volunteer-post', volunteerPost.id, 'edit']"
            class="btn btn-primary edit-button"
            *ngIf="shopID"
          >
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
