<div class="big-container">
  <div>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="big-container-success" *ngIf="successful">
        <h2 class="big-title">Item Uploaded!</h2>
        <div class="main-box">
          <div class="row text-center">
            <div class="col">
              <img class="success-img" src="/content/images/item_tick.png" alt="" />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h2 class="big-subtitle">UPLOADED!</h2>
            </div>
          </div>

          <div class="row text-center">
            <div class="col">
              <p>The item has successfully been uploaded for customers to view.</p>
              <p>Return to view the newly added item</p>
            </div>
          </div>

          <div class="row text-center">
            <div class="col">
              <a routerLink="/item">
                <button>Return</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!successful">
        <h2 id="jhi-item-heading" class="big-title" data-cy="ItemCreateUpdateHeading">Upload Item</h2>

        <div class="main-box">
          <jhi-alert-error *jhiHasAnyAuthority="'ROLE_ADMIN'"></jhi-alert-error>

          <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
            <div class="col">
              <label class="form-label" for="field_id">ID</label>
              <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label" for="field_itemType">Item Type</label>
              <select class="form-control" name="itemType" formControlName="itemType" id="field_itemType" data-cy="itemType">
                <option [ngValue]="null"></option>
                <option *ngFor="let itemType of itemTypeValues" [value]="itemType">{{ itemType }}</option>
              </select>
              <div *ngIf="editForm.get('itemType')!.invalid && (editForm.get('itemType')!.dirty || editForm.get('itemType')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('itemType')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <div class="col" *ngIf="editForm.get('itemType')?.value && shouldShowGender(editForm.get('itemType')?.value)">
              <label for="field_gender" class="form-label">Gender</label>
              <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
                <option [ngValue]="null"></option>
                <option *ngFor="let gender of genderValues" [value]="gender">{{ gender }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col" *ngIf="currentSubCategories.length > 0">
              <label class="form-label" for="field_subCategory">Sub Category</label>
              <select class="form-control" name="subCategory" id="field_subCategory" data-cy="subCategory" formControlName="subCategory">
                <option [ngValue]="null"></option>
                <option *ngFor="let subCategory of currentSubCategories" [value]="subCategory">{{ subCategory }}</option>
              </select>
            </div>
          </div>

          <!--        <label class="form-label" for="field_subCategory">Sub Category</label>-->
          <!--        <input-->
          <!--          type="text"-->
          <!--          class="form-control"-->
          <!--          name="subCategory"-->
          <!--          id="field_subCategory"-->
          <!--          data-cy="subCategory"-->
          <!--          formControlName="subCategory"-->
          <!--        />-->
          <!--        <div *ngIf="editForm.get('subCategory')!.invalid && (editForm.get('subCategory')!.dirty || editForm.get('subCategory')!.touched)">-->
          <!--          <small class="form-text text-danger" *ngIf="editForm.get('subCategory')?.errors?.required"> This field is required. </small>-->
          <!--        </div>-->

          <div class="row mb-3">
            <div class="col">
              <label class="form-label" for="field_itemName">Item Name</label>
              <input type="text" class="form-control" name="itemName" id="field_itemName" data-cy="itemName" formControlName="itemName" />
              <div *ngIf="editForm.get('itemName')!.invalid && (editForm.get('itemName')!.dirty || editForm.get('itemName')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('itemName')?.errors?.required"> This field is required. </small>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label class="form-label" for="field_itemDescription">Item Description</label>
              <textarea
                class="form-control"
                name="itemDescription"
                id="field_itemDescription"
                data-cy="itemDescription"
                formControlName="itemDescription"
              ></textarea>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label" for="field_condition">Condition</label>
              <select class="form-control" name="condition" formControlName="condition" id="field_condition" data-cy="condition">
                <option [ngValue]="null"></option>
                <option *ngFor="let condition of conditionValues" [value]="condition">{{ condition }}</option>
              </select>
              <div *ngIf="editForm.get('condition')!.invalid && (editForm.get('condition')!.dirty || editForm.get('condition')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('condition')?.errors?.required"> This field is required. </small>
              </div>
            </div>

            <div class="col">
              <label class="form-label" for="field_price">Price</label>
              <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
              <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required"> This field is required. </small>
                <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number">
                  This field should be a number.
                </small>
              </div>
            </div>
          </div>

          <!--        <div class="row mb-3">-->
          <!--          <label class="form-label" for="field_saleFlag">Sale Flag</label>-->
          <!--          <input type="checkbox" class="form-check" name="saleFlag" id="field_saleFlag" data-cy="saleFlag" formControlName="saleFlag" />-->
          <!--        </div>-->

          <!--        <div class="row mb-3">-->
          <!--          <label class="form-label" for="field_saleAmount">Sale Amount</label>-->
          <!--          <input-->
          <!--            type="number"-->
          <!--            class="form-control"-->
          <!--            name="saleAmount"-->
          <!--            id="field_saleAmount"-->
          <!--            data-cy="saleAmount"-->
          <!--            formControlName="saleAmount"-->
          <!--          />-->
          <!--          <div *ngIf="editForm.get('saleAmount')!.invalid && (editForm.get('saleAmount')!.dirty || editForm.get('saleAmount')!.touched)">-->
          <!--            <small class="form-text text-danger" *ngIf="editForm.get('saleAmount')?.errors?.min"> This field should be at least 10. </small>-->
          <!--            <small class="form-text text-danger" *ngIf="editForm.get('saleAmount')?.errors?.max">-->
          <!--              This field cannot be more than 90.-->
          <!--            </small>-->
          <!--            <small class="form-text text-danger" [hidden]="!editForm.get('saleAmount')?.errors?.number">-->
          <!--              This field should be a number.-->
          <!--            </small>-->
          <!--          </div>-->
          <!--        </div>-->

          <!--        <div class="row mb-3">-->
          <!--          <label class="form-label" for="field_shownPrice">Shown Price</label>-->
          <!--          <input-->
          <!--            type="text"-->
          <!--            class="form-control"-->
          <!--            name="shownPrice"-->
          <!--            id="field_shownPrice"-->
          <!--            data-cy="shownPrice"-->
          <!--            formControlName="shownPrice"-->
          <!--          />-->
          <!--        </div>-->

          <!--        <div class="row mb-3">-->
          <!--          <label class="form-label" for="field_itemAvailability">Item Availability</label>-->
          <!--          <input-->
          <!--            type="checkbox"-->
          <!--            class="form-check"-->
          <!--            name="itemAvailability"-->
          <!--            id="field_itemAvailability"-->
          <!--            data-cy="itemAvailability"-->
          <!--            formControlName="itemAvailability"-->
          <!--          />-->
          <!--        </div>-->

          <div class="row mb-3">
            <div class="col">
              <label class="form-label" for="field_itemImage">Item Image</label>
              <div>
                <img
                  [src]="'data:' + editForm.get('itemImageContentType')!.value + ';base64,' + editForm.get('itemImage')!.value"
                  style="max-height: 100px"
                  *ngIf="editForm.get('itemImage')!.value"
                  alt="item image"
                />
                <div *ngIf="editForm.get('itemImage')!.value" class="form-text text-danger clearfix">
                  <span class="pull-start"
                    >{{ editForm.get('itemImageContentType')!.value }}, {{ byteSize(editForm.get('itemImage')!.value!) }}</span
                  >
                  <button
                    type="button"
                    (click)="clearInputImage('itemImage', 'itemImageContentType', 'file_itemImage')"
                    class="btn btn-secondary btn-xs pull-end"
                  >
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
                <input
                  type="file"
                  id="file_itemImage"
                  data-cy="itemImage"
                  (change)="setFileData($event, 'itemImage', true)"
                  accept="image/*"
                />
              </div>
              <input
                type="hidden"
                class="form-control"
                name="itemImage"
                id="field_itemImage"
                data-cy="itemImage"
                formControlName="itemImage"
              />
              <input
                type="hidden"
                class="form-control"
                name="itemImageContentType"
                id="field_itemImageContentType"
                formControlName="itemImageContentType"
              />
              <div *ngIf="editForm.get('itemImage')!.invalid && (editForm.get('itemImage')!.dirty || editForm.get('itemImage')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('itemImage')?.errors?.required"> This field is required. </small>
              </div>
            </div>
          </div>

          <!--        <div class="row mb-3">-->
          <!--          <label class="form-label" for="field_reserveFlag">Reserve Flag</label>-->
          <!--          <input-->
          <!--            type="checkbox"-->
          <!--            class="form-check"-->
          <!--            name="reserveFlag"-->
          <!--            id="field_reserveFlag"-->
          <!--            data-cy="reserveFlag"-->
          <!--            formControlName="reserveFlag"-->
          <!--          />-->
          <!--        </div>-->

          <!-- <div class="row mb-3">
            <label class="form-label" for="field_shop">Shop</label>
            <select class="form-control" id="field_shop" data-cy="shop" name="shop" formControlName="shop" [compareWith]="compareShop">
              <option [ngValue]="null"></option>
              <option [ngValue]="shopOption" *ngFor="let shopOption of shopsSharedCollection">{{ shopOption.id }}</option>
            </select>
          </div> -->
          <div class="row">
            <div class="col text-center">
              <button
                type="button"
                id="cancel-save"
                data-cy="entityCreateCancelButton"
                class="btn btn-secondary back-button"
                (click)="previousState()"
              >
                <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
              </button>

              <button
                type="submit"
                id="upload-entity"
                data-cy="entityCreateUploadButton"
                [disabled]="editForm.invalid || isSaving"
                class="btn btn-primary edit-button"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span>Upload</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
