<div>
  <h2 id="page-heading" data-cy="ReservationHeading" class="text-center">RESERVATIONS</h2>

  <div class="d-flex justify-content-end">
    <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span>Refresh list</span>
    </button>

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-reservation"
      [routerLink]="['/reservation/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span> </span>
    </button>
    <button class="btn btn-refresh me-2" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reservations?.length === 0">
    <span>No Reservations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="reservations && reservations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reservedTime">
            <div class="d-flex">
              <span>Reserved Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reservedExpiry">
            <div class="d-flex">
              <span>Reserved Expiry</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="item.id">
            <div class="d-flex">
              <span>Item</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customer.id">
            <div class="d-flex">
              <span>Customer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shop.id">
            <div class="d-flex">
              <span>Shop</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reservation', reservation.id, 'view']">{{ reservation.id }}</a>
          </td>
          <td>{{ reservation.reservedTime | formatMediumDatetime }}</td>
          <td>{{ reservation.reservedExpiry | formatMediumDatetime }}</td>
          <td>{{ reservation.status }}</td>
          <td>
            <div *ngIf="reservation.item">
              <a [routerLink]="['/item', reservation.item.id, 'view']">{{ reservation.item.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reservation.customer">
              <a [routerLink]="['/customer', reservation.customer.id, 'view']">{{ reservation.customer.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reservation.shop">
              <a [routerLink]="['/shop', reservation.shop.id, 'view']">{{ reservation.shop.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reservation', reservation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <!--              <span class="d-none d-md-inline">View</span>-->
              </button>

              <button
                type="submit"
                [routerLink]="['/reservation', reservation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <!--              <span class="d-none d-md-inline">Edit</span>-->
              </button>

              <button type="submit" (click)="delete(reservation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <!--              <span class="d-none d-md-inline">Delete</span>-->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <th scope="col">
    <div class="d-flex">
      <span>Customer Full Name</span>
      <fa-icon class="p-1" icon="sort"></fa-icon>
    </div>
  </th>

  <div *ngIf="reservations && reservations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
