<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="showModal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeSubscribe()">&times;</span>
    <p>Subscribing will let you receive emails about this charity shop's sales</p>

    <div class="button-container">
      <button (click)="subscribeFeature()" class="continue-button modalbutton">Subscribe</button>
      <p *ngIf="subscribeSuccess">Success!</p>
    </div>
  </div>
</div>

<div id="myunsubModal" class="modal" *ngIf="showunsub">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeSubscribe()">&times;</span>
    <p>Are you sure you want to unsubscribe?</p>

    <div class="button-container">
      <button (click)="unsub()" class="continue-button modalbutton">Unsubscribe</button>
      <p *ngIf="deletedSuccessfully">Deleted Successfully!</p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="shop">
      <h2 data-cy="shopDetailsHeading">Shop</h2>

      <hr />

      <!--      <jhi-alert-error></jhi-alert-error>-->

      <!--      <jhi-alert></jhi-alert>-->

      <div class="row">
        <div class="col">
          <h3 class="shop-name">{{ shop.shopName }}</h3>
        </div>
        <button class="subscribe-btn" (click)="showSubscribe()" *ngIf="!alreadySub && !isShop">Subscribe to {{ shop.shopName }}</button>
        <button class="subscribe-btn" (click)="showUn()" *ngIf="alreadySub && !isShop">Unsubscribe</button>
        <!--        <div class="row">-->
        <!--          <div class="col-8">-->
        <!--            <p><span class="small-title">Creation Date: </span>{{ shop.creationDate | formatMediumDate }}</p>-->
        <!--          </div>-->
        <!--          <div class="col">-->
        <!--            <p class="shop-id"><span class="small-title">ID: </span>{{ shop.id }}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="row">
          <div *ngIf="shop.logo" class="shop-logo">
            <a (click)="openFile(shop.logo, shop.logoContentType)">
              <img [src]="'data:' + shop.logoContentType + ';base64,' + shop.logo" style="max-width: 100%" alt="shop image" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!--            <div class="row">-->
            <!--              <div class="col-4 small-title"><p>Charity Shop ID:</p></div>-->
            <!--              <div class="col">-->
            <!--                <p>{{ shop.charityShopId }}</p>-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="row">
              <div class="col-4 small-title"><p>Email:</p></div>
              <div class="col">
                <p>{{ shop.shopEmail }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 small-title"><p>Contact Number:</p></div>
              <div class="col">
                <p>{{ shop.contactNum }}</p>
              </div>
            </div>
            <div class="row small-title2"><p>Address</p></div>
            <div class="row">
              <div class="col-4 small-title"><p>Street:</p></div>
              <div class="col">
                <p>{{ shop.street }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 small-title"><p>City:</p></div>
              <div class="col">
                <p>{{ shop.city }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 small-title"><p>Post Code:</p></div>
              <div class="col">
                <p>{{ shop.postCode }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 small-title"><p>Country:</p></div>
              <div class="col">
                <p>{{ shop.country }}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row small-title2"><p>Open Hours</p></div>
            <div class="row">
              <div class="col small-title"><p>Weekdays:</p></div>
              <div class="col">
                <p>{{ shop.openHoursWeekdays }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col small-title"><p>Weekends:</p></div>
              <div class="col">
                <p>{{ shop.openHoursWeekends }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col small-title"><p>Public Holidays:</p></div>
              <div class="col">
                <p>{{ shop.openHoursHolidays }}</p>
              </div>
            </div>
            <!--            <div class="row small-title2"><p>Details</p></div>-->
            <!--            <div class="row">-->
            <!--              <div class="col small-title"><p>Rating:</p></div>-->
            <!--              <div class="col">-->
            <!--                <p>{{ shop.rating }}</p>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="row">-->
            <!--              <div class="col small-title"><p>Duration:</p></div>-->
            <!--              <div class="col">-->
            <!--                <p>{{ shop.duration }}</p>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="row">-->
            <!--              <div class="col small-title"><p>Distance:</p></div>-->
            <!--              <div class="col">-->
            <!--                <p>{{ shop.distance }}</p>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--          <div class="row shop-userID">-->
            <!--            <p>User: {{ shop.user?.id }}</p>-->
            <!--          </div>-->
          </div>
        </div>

        <!-- Original template -->
        <!-- <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ shop.id }}</span>
        </dd>
        <dt><span>Shop Name</span></dt>
        <dd>
          <span>{{ shop.shopName }}</span>
        </dd>
        <dt><span>Contact Num</span></dt>
        <dd>
          <span>{{ shop.contactNum }}</span>
        </dd>
        <dt><span>Shop Email</span></dt>
        <dd>
          <span>{{ shop.shopEmail }}</span>
        </dd>
        <dt><span>Charity Shop Id</span></dt>
        <dd>
          <span>{{ shop.charityShopId }}</span>
        </dd>
        <dt><span>Open Hours Weekdays</span></dt>
        <dd>
          <span>{{ shop.openHoursWeekdays }}</span>
        </dd>
        <dt><span>Open Hours Weekends</span></dt>
        <dd>
          <span>{{ shop.openHoursWeekends }}</span>
        </dd>
        <dt><span>Open Hours Holidays</span></dt>
        <dd>
          <span>{{ shop.openHoursHolidays }}</span>
        </dd>
        <dt><span>Street</span></dt>
        <dd>
          <span>{{ shop.street }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ shop.city }}</span>
        </dd>
        <dt><span>Post Code</span></dt>
        <dd>
          <span>{{ shop.postCode }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ shop.country }}</span>
        </dd>
        <dt><span>Creation Date</span></dt>
        <dd>
          <span>{{ shop.creationDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Logo</span></dt>
        <dd>
          <div *ngIf="shop.logo">
            <a (click)="openFile(shop.logo, shop.logoContentType)">
              <img [src]="'data:' + shop.logoContentType + ';base64,' + shop.logo" style="max-width: 100%" alt="shop image" />
            </a>
            {{ shop.logoContentType }}, {{ byteSize(shop.logo) }}
          </div>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ shop.rating }}</span>
        </dd>
        <dt><span>Distance</span></dt>
        <dd>
          <span>{{ shop.distance }}</span>
        </dd>
        <dt><span>Duration</span></dt>
        <dd>
          <span>{{ shop.duration | duration }} ({{ shop.duration }})</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ shop.user?.id }}</span>
        </dd>
      </dl> -->
        <div class="rol btn-row">
          <button type="submit" (click)="previousState()" class="btn btn-info btn-back" data-cy="entityDetailsBackButton" *ngIf="!isShop">
            <fa-icon icon="arrow-left"></fa-icon>Back
          </button>

          <button type="button" [routerLink]="['/shop', shop.id, 'edit']" class="btn btn-primary btn-edit">
            <fa-icon icon="pencil-alt"></fa-icon>Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
