<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GDPR Policy</title>
  </head>
  <body>
    <div class="gdpr-container">
      <h2>GDPR Policy</h2>
      <p class="gdpr-detail">
        CharityTreasures is part of the Team24 group. This privacy policy will outline how our website uses the personal data we collect
        from users when users use our website.
      </p>

      <h3>Topics:</h3>
      <li>What data do we collect?</li>
      <li>How do we collect your data?</li>
      <li>How will we use your data?</li>
      <li>Marketing</li>
      <li>What are your data protection rights?</li>
      <li>What are cookies?</li>
      <li>What types of cookies do we use?</li>
      <li>How to manage your cookies?</li>
      <li>What types of cookies do we use?</li>
      <li>How to manage your cookies</li>
      <li>Privacy policies of other websites</li>
      <li>Changes to our privacy policy</li>
      <li>How to contact us</li>
      <li>How to contact the appropriate authorities?</li>
      <br />

      <h3>1. What data do we collect?</h3>
      <p class="gdpr-detail">CharityTreasures collects the following data:</p>
      <p class="gdpr-detail">1. Personal Identification Information:</p>
      <li>Full Name</li>
      <li>Email Address</li>
      <li>Phone Number</li>
      <li>Date of Birth</li>
      <br />
      <p class="gdpr-detail">2. Volunteer Information:</p>
      <li>Skills and interests</li>
      <li>Availability (Shifts)</li>
      <li>Volunteer preferences</li>
      <li>Volunteer past history</li>
      <br />
      <p class="gdpr-detail">3. Location Data:</p>
      <li>Geographic location</li>
      <li>Specific location (if granted permission for location-based services)</li>
      <br />
      <p class="gdpr-detail">4. Feedback and Survey Responses:</p>
      <li>Feedback on charity services and events</li>
      <li>Responses to satisfaction survey</li>
      <br />

      <h3>2. How do we collect your data?</h3>
      <p class="gdpr-detail">Charity Treasures collect most of user data when:</p>
      <li>
        User Registration: Users may voluntarily register on the charity website by providing personal information such as their name, email
        address, phone number, and their address.
      </li>
      <li>
        Volunteer Registration: Individuals interested in volunteering for charity events or activities can register through the website by
        providing personal details such as their name, contact information, availability, and skills.
      </li>
      <li>
        Location Services: Users may grant permission for CharityTreasures to access their device's location information through the website
        or mobile app. This can be done either explicitly by the user or through browser or device settings.
      </li>
      <p class="gdpr-detail">If a user is registered as part of a charity, we also collect data when you:</p>
      <li>Upload a volunteer request through filling out the online form by providing your name, email address and phone number.</li>
      <li>Upload an event through filling out the online form by providing an email address and phone number.</li>
      <br />

      <h3>3. How will we use your data?</h3>
      <p class="gdpr-detail">CharityTreasures collect user data for various reasons:</p>
      <li>
        Personalised Communication: Collected data, such as user contact details, allows CharityTreasures to communicate effectively with
        users regarding their registrations, volunteer opportunities, reserved items and event participation.
      </li>
      <li>
        Targeted Marketing: Understanding user preferences and interests through collected data enables CharityTreasures to tailor marketing
        campaigns, newsletters, and promotional materials to specific user segments, increasing engagement and donations.
      </li>
      <li>
        If you are signed in as a charity and provide an email address and phone number when filling out the volunteer request or events
        form, then the contact details will be published online with the volunteer request/event publication. This is so users can contact
        you regarding the volunteer request/event if they have any questions.
      </li>
      <li>
        Improving Services: Analysing user feedback and engagement data helps CharityTreasures identify areas for improvement in its charity
        shop services, volunteer programs, and event planning, leading to a better overall experience for users.
      </li>
      <li>
        Location-Based Services: CharityTreasures utilises users' location information to provide personalised experiences, such as
        displaying nearby charity shops, events, or volunteering opportunities based on their current location. This enhances user
        engagement and convenience.
      </li>
      <br />

      <h3>4. How do we store your data?</h3>
      <p class="gdpr-detail">
        CharityTreasures securely stores your data at cloud-based storage provide by trusted and reputable third-party vendors at Amazon Web
        Services (AWS) located in London, UK. The servers that stored our cloud-based storage is located at Amazon Web Services UK Limited,
        1 Principal Place, London, EC2A 2FA, United Kingdom. These cloud services adhere to industry-leading security standards and employ
        robust encryption methods to safeguard your data against unauthorized access or breaches.
      </p>
      <p class="gdpr-detail">
        Other than that, CharityTreasures also implement data segmentation to ensure maximum security, user’s data is logically segmented
        within our cloud infrastructure, with access controls implemented to restrict unauthorised access. This means that only authorised
        personnel with the necessary permissions can access specific sets of data.
      </p>
      <p class="gdpr-detail">
        CharityTreasures will keep your past reserve item history for 6 months. Once this time has expired, we will delete your data by
        using secure data deletion. CharityTreasures employ secure deletion methods to ensure that your information is irreversibly erased
        from our systems. This includes the use of industry-standard data wiping techniques and verification processes to confirm successful
        deletion.
      </p>
      <p class="gdpr-detail">
        CharityTreasures will collect user’s feedback, analyse it and produce a report for further improvement. The user’s feedback will be
        kept for 6 months.
      </p>
      <p class="gdpr-detail">CharityTreasures will delete all user information by June 2024.</p>
      <br />

      <h3>5. Marketing</h3>
      <p class="gdpr-detail">
        CharityTreasures would like to send you information about events and sales that we think you might like. If you have agreed to
        receiving notifications previously you can always opt out later.
      </p>
      <p class="gdpr-detail">
        You have the right at any time to stop CharityTreasures from contacting you for marketing purposes or giving your data to other
        members of CharityTreasures.
      </p>
      <p class="gdpr-detail">If you no longer wish to be contacted for marketing purposes, <a href="">please click here</a></p>
      <br />

      <h3>6. What are your data protection rights?</h3>
      <p class="gdpr-detail">
        CharityTreasures would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the
        following:
      </p>
      <p class="gdpr-detail">
        <b>The right to access</b> – You have the right to request CharityTreasures for copies of your personal data. We may charge you a
        small fee for this service.
      </p>
      <p class="gdpr-detail">
        <b>The right to rectification</b> – You have the right to request that CharityTreasures correct any information you believe is
        inaccurate. You also have the right to request CharityTreasures to complete information you believe is incomplete.
      </p>
      <p class="gdpr-detail">
        <b>The right to erasure</b> – You have the right to request that CharityTreasures erase your personal data, under certain
        conditions.
      </p>
      <p class="gdpr-detail">
        <b>The right to restrict processing</b> – You have the right to request that CharityTreasures restrict the processing of your
        personal data, under certain conditions.
      </p>
      <p class="gdpr-detail">
        <b>The right to object to processing</b> – You have the right to object to CharityTreasures’s processing of your personal data,
        under certain conditions.
      </p>
      <p class="gdpr-detail">
        <b>The right to data portability</b> – You have the right to request that CharityTreasures transfer the data that we have collected
        to another organisation or directly to you under certain conditions.
      </p>
      <p class="gdpr-detail">
        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at
        our development team’s email or phone number:
      </p>
      <li>Brian Bong Nyit Chiung +44 0791 8115238 (bxb371&#64;student.bham.ac.uk)</li>
      <li>Chew Xin Yao +44 7748 148918 (xxc345&#64;student.bham.ac.uk)</li>
      <li>Edward Twe Ting Yau +44 0743 7550296 (ext320&#64;student.bham.ac.uk)</li>
      <li>Elaira Polintan +44 7491 953467 (exp254&#64;student.bham.ac.uk)</li>
      <li>Jumaa Alqayd +971 50 844 6557 (jxa125&#64;student.bham.ac.uk)</li>
      <li>Nistha Kumar +44 7588 393093 (nxk290&#64;student.bham.ac.uk)</li>
      <li>Toru Yamaguchi +44 7468 597883 (txy212&#64;student.bham.ac.uk)</li>
      <br />

      <h3>7. What are cookies?</h3>
      <p class="gdpr-detail">
        Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When
        you visit our websites, we may collect information from you automatically through cookies or similar technology.
      </p>
      <p class="gdpr-detail">For further information, visit <a href="https://allaboutcookies.org/">allaboutcookies.org</a>.</p>
      <br />

      <h3>8. How do we use cookies?</h3>
      <p class="gdpr-detail">Our Company uses cookies in a range of ways to improve your experience on our website, including:</p>
      <li>
        Authentication: CharityTreasures use cookies to keep you signed in to your account, allowing you to access personalised features and
        content without having to re-enter your login credentials each time you visit our site. This enhances convenience and ensures a
        seamless user experience.
      </li>
      <li>
        Personalisation: Cookies enable us to personalise your browsing experience based on your preferences and interests. For example, we
        may use cookies to remember your preferred language, display relevant content or recommendations, and tailor our communications to
        better suit your needs.
      </li>
      <li>
        Website Analytics: We use cookies to gather information about how you use our website, including which pages you visit, how long you
        spend on each page, and your interaction patterns. This data helps us analyse and understand user behaviour, identify areas for
        improvement, and optimise the performance and usability of our website.
      </li>
      <br />

      <h3>9. What types of cookies do we use?</h3>
      <p class="gdpr-detail">There are several different types of cookies, however, our website uses:</p>
      <p class="gdpr-detail">
        Functionality – CharityTreasures uses these cookies so that we recognise you on our website and remember your previously selected
        preferences. These could include what language you prefer, location you are in and what items had u reserved in the past.
      </p>
      <br />

      <h3>10. How to manage cookies?</h3>
      <p class="gdpr-detail">
        You have the option to configure your browser to reject cookies, and the website mentioned above provides instructions on how to do
        so. But occasionally, this can lead to certain functions on our website not working.
      </p>
      <br />

      <h3>11. Changes to our privacy policy</h3>
      <p class="gdpr-detail">
        CharityTreasures periodically reviews its privacy statement and posts any revisions on this website. This privacy policy was last
        update on 6 March 2024.
      </p>
      <br />

      <h3>12. How to contact us</h3>
      <p class="gdpr-detail">
        If you have any queries about CharityTreasures’s privacy policy, the data we hold on you, or you would like to exercise one of your
        data protection rights, please do not hesitate to contact us.
      </p>
      <li>Brian Bong Nyit Chiung +44 0791 8115238 (bxb371&#64;student.bham.ac.uk)</li>
      <li>Chew Xin Yao +44 7748 148918 (xxc345&#64;student.bham.ac.uk)</li>
      <li>Edward Twe Ting Yau +44 0743 7550296 (ext320&#64;student.bham.ac.uk)</li>
      <li>Elaira Polintan +44 7491 953467 (exp254&#64;student.bham.ac.uk)</li>
      <li>Jumaa Alqayd +971 50 844 6557 (jxa125&#64;student.bham.ac.uk)</li>
      <li>Nistha Kumar +44 7588 393093 (nxk290&#64;student.bham.ac.uk)</li>
      <li>Toru Yamaguchi +44 7468 597883 (txy212&#64;student.bham.ac.uk)</li>
      <br />

      <h3>13. How to contact the appropriate authority</h3>
      <p class="gdpr-detail">
        Contact the Information Commissioner's Office if you would want to file a complaint or if you believe CharityTreasures has not
        satisfactorily resolved your issue.
      </p>
      <p class="gdpr-detail">
        Address: Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF<br />
        Helpline: 0303 1123 1113<br />
        Fax: 01625 524510<br />
        Email: casework&#64;ico.org.uk<br />
      </p>
    </div>
  </body>
</html>
