<div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="feedback-cont">
  <div style="text-align: center; font-weight: bolder" class="modal-title big-title">
    <h2 id="page-heading" data-cy="ReservationHeading" class="text-center">All Feedbacks</h2>
  </div>
  <br />
  <div class="d-flex justify-content-end">
    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-feedback"
      [routerLink]="['/feedback/new']"
    >
      <fa-icon icon="plus"> </fa-icon>
    </button>

    <button class="btn btn-refresh me-2" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="feedbacks?.length === 0">
    <span>No Feedbacks found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="feedbacks && feedbacks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" jhiSortBy="customer.id">
            <div class="d-flex">
              <span>Customer ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>   -->
          <th scope="col" jhiSortBy="feedbackText">
            <div class="d-flex">
              <span>Feedback Text</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="time">
            <div class="d-flex">
              <span>Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating">
            <div class="d-flex">
              <span>Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" jhiSortBy="customer.id">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Customer</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th> -->
          <!--          <th scope="col" jhiSortBy="shop.id">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Shop</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedback of feedbacks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/feedback', feedback.id, 'view']">{{ feedback.id }}</a>
          </td>
          <td>{{ feedback.feedbackText }}</td>
          <td>{{ feedback.time | formatMediumDatetime }}</td>
          <!--          <td>-->
          <!--            <div *ngIf="feedback.customer">-->
          <!--              <a [routerLink]="['/customer', feedback.customer.id, 'view']">{{ feedback.customer.id }}</a>-->
          <!--            </div>-->
          <!--          </td>-->
          <!--          <td>-->
          <!--            <div *ngIf="feedback.shop">-->
          <!--              <a [routerLink]="['/shop', feedback.shop.id, 'view']">{{ feedback.shop.id }}</a>-->
          <!--            </div>-->

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/feedback', feedback.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/feedback', feedback.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(feedback)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="feedbacks && feedbacks.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>

<div *jhiHasAnyAuthority="'ROLE_USER'" style="background-color: white" class="feedback-cont">
  <h2 style="text-align: center" class="big-title">Thank you for providing us with your feedback</h2>

  <!--  <button *jhiHasAnyAuthority="'ROLE_USER'" [routerLink]="['/feedback/new']" class="btn btn-primary">-->
  <!--    <button class="btn-continue" [routerLink]="['/feedback/new']">-->
  <!--      Continue <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>-->
  <!--    </button>-->
  <!--  </button>-->
  <div class="centered-button-container">
    <button class="big-blue-button" [routerLink]="['/feedback/new']">Continue</button>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br />
</div>
