$main-pink: #ff6961;
$second-pink: #ffe7e7;
$main-blue: #000080;
$white: white;
$light-pink: #ffc0cb;

/* Set a white background for the main container */
.table-responsive {
  width: 70%; /* Set width to 70% */
  margin: 0 auto; /* Centers the table horizontally */
}

/* Set rounded corners for table rows */
.table tbody tr {
  border-radius: 10px; /* Rounded corners */
}

.list-container {
  background-color: $white; /* White background */
}

/* Set a pink background for table rows */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: $light-pink; /* Light pink background for odd rows */
}

/* Set a white background for even table rows */
.table-striped tbody tr:nth-of-type(even) {
  background-color: $white; /* White background for even rows */
}

.btn-primary,
.btn-danger,
.btn-sm {
  color: black;
  background-color: $light-pink;
}

/* Ensure icons have no box-shadow, outline, or border */
.btn,
.fa-icon {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background-color: transparent !important; /* Ensure no background */
}
