<div class="big-container">
  <h2 id="page-heading" data-cy="VolunteerPostHeading">
    <div class="big-title">Volunteer Posts</div>
  </h2>

  <div class="d-flex justify-content-end create-refresh-box" *ngIf="shopID">
    <button class="btn btn-info me-2 refresh-button" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span>Refresh list</span>
    </button>

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-entity-button"
      [routerLink]="['/volunteer-post/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span> Create a new Volunteer Post </span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning warning-box" id="no-result" *ngIf="volunteerPosts?.length === 0">
    <span>No Volunteer Posts found</span>
  </div>

  <div class="main-box" *ngIf="shopID">
    <!--admin view for list-->
    <div class="admin-table-box table-entities">
      <table class="table admin-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" class="text-center" jhiSortBy="img">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <span>Img</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <th scope="col" class="text-center" jhiSortBy="postTitle">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <span>Post Title</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <!-- <th scope="class="text-center" col" jhiSortBy="locationAddress">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                <span>Location Address</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <th scope="col" class="text-center" jhiSortBy="contactNum">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                <span>Contact Num</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <th scope="col" class="text-center" jhiSortBy="email">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                <span>Email</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <th scope="col" class="text-center" jhiSortBy="aboutUs">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                <span>About Us</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <th scope="col" class="text-center" jhiSortBy="aboutRole">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                <span>About Role</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <th scope="col" class="text-center" jhiSortBy="benefits">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                <span>Benefits</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th> -->
            <th scope="col" class="text-center" jhiSortBy="activeStatus">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <span>Active Status</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <th scope="col" class="text-center" jhiSortBy="shop.id">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <span>Shop</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </div>
            </th>
            <th scope="col" class="text-center" jhiSortBy="shop.id">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <span>Action</span>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let volunteerPost of volunteerPosts; trackBy: trackId">
            <tr
              data-cy="entityTable"
              class="admin-tr"
              [routerLink]="['/volunteer-post', volunteerPost.id, 'view']"
              *ngIf="volunteerPost.shop?.id === shopID"
            >
              <td class="text-center">
                <a *ngIf="volunteerPost.img" (click)="openFile(volunteerPost.img, volunteerPost.imgContentType); $event.stopPropagation()">
                  <img [src]="'data:' + volunteerPost.imgContentType + ';base64,' + volunteerPost.img" alt="volunteerPost image" />
                </a>
              </td>
              <td class="w-20 text-center">
                <p class="admin-table-title">{{ volunteerPost.postTitle }}</p>
              </td>
              <!-- <td class="text-center">{{ volunteerPost.locationAddress }}</td>
              <td class="text-center">{{ volunteerPost.contactNum }}</td>
              <td class="text-center">{{ volunteerPost.email }}</td>
              <td class="text-center">{{ volunteerPost.aboutUs }}</td>
              <td class="text-center">{{ volunteerPost.aboutRole }}</td>
              <td class="text-center">{{ volunteerPost.benefits }}</td> -->
              <td class="text-center">{{ volunteerPost.activeStatus }}</td>
              <td class="text-center">
                <div *ngIf="volunteerPost.shop">
                  <a [routerLink]="['/shop', volunteerPost.shop.id, 'view']" (click)="$event.stopPropagation()">{{
                    volunteerPost.shop.shopName
                  }}</a>
                </div>
              </td>
              <td class="text-center">
                <div class="btn-group">
                  <!-- <button type="submit" [routerLink]="['/volunteer-post', volunteerPost.id, 'view']"
                    class="btn btn-info btn-sm view-button" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </button> -->

                  <button
                    type="submit"
                    (click)="editVolunteerPost($event, volunteerPost)"
                    class="btn btn-primary btn-sm edit-button"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </button>
                  <button
                    type="submit"
                    (click)="delete($event, volunteerPost)"
                    class="btn btn-danger btn-sm delete-button"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="user-main-box" *ngIf="customerID">
    <!--user table view for list-->
    <div>
      <div class="table-entities volunteer-list" id="entities" *ngIf="volunteerPosts && volunteerPosts.length > 0">
        <table class="table" aria-describedby="page-heading">
          <tbody
            infinite-scroll
            (scrolled)="loadPage(page + 1)"
            [infiniteScrollDisabled]="page - 1 >= links['last']"
            [infiniteScrollDistance]="0"
          >
            <ng-container *ngFor="let volunteerPost of volunteerPosts; trackBy: trackId">
              <tr
                *ngIf="volunteerPost.activeStatus?.toString() == 'ACTIVE'"
                data-cy="entityTable"
                (click)="selectPost(volunteerPost)"
                [class.selected]="isSelected(volunteerPost)"
                class="user-tr"
              >
                <td class="img-td">
                  <div *ngIf="volunteerPost.img" class="volunteer-image-container">
                    <img [src]="'data:' + volunteerPost.imgContentType + ';base64,' + volunteerPost.img" class="volunteer-image" />
                  </div>
                </td>
                <td class="inside">
                  <div class="volunteer-title">
                    <h4 id="title-p">{{ volunteerPost.postTitle }}</h4>
                  </div>
                  <div>
                    <p>Location: {{ volunteerPost.locationAddress }}</p>
                  </div>
                  <div *ngIf="volunteerPost.shop">
                    <p>By: {{ volunteerPost.shop.shopName }}</p>
                  </div>
                  <div>
                    <p>Start Date: {{ (volunteerPost.startDate?.toDate() | date: 'yyyy-MM-dd') || 'N/A' }}</p>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <!--user viewing detail of volunteer when selected post-->
      <div class="volunteer-detail" *ngIf="selectedPost">
        <div class="detail-img-container">
          <img [src]="'data:' + selectedPost.imgContentType + ';base64,' + selectedPost.img" class="volunteer-image" />
        </div>
        <div class="first-row">
          <div class="detail-profile-img-box">
            <img [src]="'data:' + selectedPost.shop?.logoContentType + ';base64,' + selectedPost.shop?.logo" class="profile-pic" />
          </div>
          <div class="basic-info-box">
            <div class="volunteer-title detail-title-box">
              <h4 class="detail-title-p">{{ selectedPost.postTitle }}</h4>
            </div>
            <div>
              <p>Location: {{ selectedPost.locationAddress }}</p>
            </div>
            <div *ngIf="selectedPost.shop">
              <p>
                By: <a [routerLink]="['/shop', selectedPost.shop.id, 'view']">{{ selectedPost.shop.shopName }}</a>
              </p>
            </div>
            <div>
              <p>Start Date: {{ (selectedPost.startDate?.toDate() | date: 'yyyy-MM-dd') || 'N/A' }}</p>
            </div>
          </div>
        </div>
        <div class="buttons-box">
          <button (click)="applyVolunteer(selectedPost)">I'm Interested</button>
          <button (click)="scrollToElement('contact-section')">Contact Us</button>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <h4 class="detail-title-p">Active Status:</h4>
          </div>
          <p>{{ selectedPost.activeStatus }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <h4 class="detail-title-p">About Us:</h4>
          </div>
          <p>{{ selectedPost.aboutUs }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <h4 class="detail-title-p">About the Role:</h4>
          </div>
          <p>{{ selectedPost.aboutRole }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <h4 class="detail-title-p">Benefits:</h4>
          </div>
          <p>{{ selectedPost.benefits }}</p>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <h4 class="detail-title-p">Days Required:</h4>
          </div>
          <ul>
            <li *ngIf="selectedPost.monday">Monday</li>
            <li *ngIf="selectedPost.tuesday">Tuesday</li>
            <li *ngIf="selectedPost.wednesday">Wednesday</li>
            <li *ngIf="selectedPost.thursday">Thursday</li>
            <li *ngIf="selectedPost.friday">Friday</li>
            <li *ngIf="selectedPost.saturday">Saturday</li>
            <li *ngIf="selectedPost.sunday">Sunday</li>
          </ul>
        </div>
        <hr />
        <div class="detail-section-box">
          <div>
            <h4 class="detail-title-p">Shifts Required:</h4>
          </div>
          <ul>
            <li *ngIf="selectedPost.morning">Morning</li>
            <li *ngIf="selectedPost.afternoon">Afternoon</li>
            <li *ngIf="selectedPost.evening">Evening</li>
          </ul>
        </div>
        <hr />
        <section id="contact-section">
          <div class="detail-section-box">
            <div>
              <h4 class="detail-title-p">Our Contacts:</h4>
            </div>
            <p>E-mail: {{ selectedPost.email }}</p>
            <p>Contact Number: {{ selectedPost.contactNum }}</p>
          </div>
        </section>
        <hr />
      </div>
    </div>
  </div>
</div>
