.events-further-details > {
  dt {
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
  }
  dd {
    padding-bottom: 10px;
  }
}

.event-details-cont {
  background-color: #ffc9c9;
  min-width: 1000px;
  max-width: 1000px;
  //  min-height: 700px;
  height: auto;
  padding-left: 10px;
}

.add-to-interested-events-entity {
  border-radius: 9px;
  font-size: 20px;
  margin-left: 30px;
}

.add-to-interested-events-entity:hover {
  background-color: #ff6961;
  transition: 0.5s;
}
