<div class="big-container">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <h2 class="big-title" id="jhi-shop-heading" data-cy="ShopCreateUpdateHeading">Create or edit a Shop</h2>

    <div class="main-box">
      <jhi-alert-error></jhi-alert-error>

      <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
        <label class="form-label" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <label class="form-label" for="field_shopName">Shop Name</label>
          <input type="text" class="form-control" name="shopName" id="field_shopName" data-cy="shopName" formControlName="shopName" />
          <div *ngIf="editForm.get('shopName')!.invalid && (editForm.get('shopName')!.dirty || editForm.get('shopName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('shopName')?.errors?.required"> Shop Name is required. </small>
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="field_contactNum">Contact Num</label>
          <input
            type="text"
            class="form-control"
            name="contactNum"
            id="field_contactNum"
            data-cy="contactNum"
            formControlName="contactNum"
          />
          <div *ngIf="editForm.get('contactNum')!.invalid && (editForm.get('contactNum')!.dirty || editForm.get('contactNum')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('contactNum')?.errors?.required"> Contact Number is required. </small>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label class="form-label" for="field_shopEmail">Shop Email</label>
          <input
            type="text"
            class="form-control"
            name="shopEmail"
            id="field_shopEmail"
            data-cy="shopEmail"
            formControlName="shopEmail"
            required=""
          />
          <div *ngIf="editForm.get('shopEmail')!.invalid && (editForm.get('shopEmail')!.dirty || editForm.get('shopEmail')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('shopEmail')?.errors?.required"> Email is required. </small>
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="field_charityShopId">Charity Shop ID</label>
          <input
            type="text"
            class="form-control"
            name="charityShopId"
            id="field_charityShopId"
            data-cy="charityShopId"
            formControlName="charityShopId"
          />
          <div
            *ngIf="
              editForm.get('charityShopId')!.invalid && (editForm.get('charityShopId')!.dirty || editForm.get('charityShopId')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('charityShopId')?.errors?.required"> Charity ID is required. </small>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label class="form-label" for="field_openHoursWeekdays">Open Hours Weekdays</label>
          <input
            type="text"
            class="form-control"
            name="openHoursWeekdays"
            id="field_openHoursWeekdays"
            data-cy="openHoursWeekdays"
            formControlName="openHoursWeekdays"
            placeholder="10am - 5pm"
          />
        </div>

        <div class="col">
          <label class="form-label" for="field_openHoursWeekends">Open Hours Weekends</label>
          <input
            type="text"
            class="form-control"
            name="openHoursWeekends"
            id="field_openHoursWeekends"
            data-cy="openHoursWeekends"
            formControlName="openHoursWeekends"
            placeholder="11am - 4pm"
          />
        </div>

        <div class="col">
          <label class="form-label" for="field_openHoursHolidays">Open Hours Holidays</label>
          <input
            type="text"
            class="form-control"
            name="openHoursHolidays"
            id="field_openHoursHolidays"
            data-cy="openHoursHolidays"
            formControlName="openHoursHolidays"
            placeholder="CLOSED"
          />
        </div>
      </div>

      <hr />
      <br />

      <div class="row mb-3">
        <div class="col">
          <h3>Shop Address</h3>
          <label class="form-label" for="field_street">Street</label>
          <input type="text" class="form-control" name="street" id="field_street" data-cy="street" formControlName="street" required="" />
          <div *ngIf="editForm.get('street')!.invalid && (editForm.get('street')!.dirty || editForm.get('street')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('street')?.errors?.required"> Street is required. </small>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label class="form-label" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" required="" />
          <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('city')?.errors?.required"> City is required. </small>
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="field_postCode">Post Code</label>
          <input
            type="text"
            class="form-control"
            name="postCode"
            id="field_postCode"
            data-cy="postCode"
            formControlName="postCode"
            required=""
          />
          <div *ngIf="editForm.get('postCode')!.invalid && (editForm.get('postCode')!.dirty || editForm.get('postCode')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('postCode')?.errors?.required"> Post Code is required. </small>
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="field_country">Country</label>
          <input
            type="text"
            class="form-control"
            name="country"
            id="field_country"
            data-cy="country"
            formControlName="country"
            required=""
          />
          <div *ngIf="editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('country')?.errors?.required"> Country is required. </small>
          </div>
        </div>
      </div>

      <hr />
      <br />

      <div class="row mb-3">
        <h3>Shop Info</h3>
        <div class="col">
          <label class="form-label" for="field_creationDate">Creation Date</label>
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
              readonly
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="field_logo">Logo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="shop image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_logo" data-cy="logo" (change)="setFileData($event, 'logo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>
      </div>

      <!-- <div class="row mb-3">
        <div class="col">
          <label class="form-label" for="field_rating">Rating</label>
          <input
            type="number"
            class="form-control"
            name="rating"
            id="field_rating"
            data-cy="rating"
            formControlName="rating"
            required=""
            placeholder="0"
          />
          <div *ngIf="editForm.get('rating')!.invalid && (editForm.get('rating')!.dirty || editForm.get('rating')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rating')?.errors?.required"> Please type 0 </small>
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="field_distance">Distance</label>
          <input
            type="number"
            class="form-control"
            name="distance"
            id="field_distance"
            data-cy="distance"
            formControlName="distance"
            required=""
            placeholder="0"
          />
          <div *ngIf="editForm.get('distance')!.invalid && (editForm.get('distance')!.dirty || editForm.get('distance')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('distance')?.errors?.required"> Please type 0 </small>
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="field_duration">Duration</label>
          <input
            type="text"
            class="form-control"
            name="duration"
            id="field_duration"
            data-cy="duration"
            formControlName="duration"
            required=""
            placeholder="PT0M"
          />
          <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('duration')?.errors?.required"> Please type PT0M </small>
          </div>
        </div>
      </div> -->

      <div class="row mb-3">
        <div class="col">
          <label class="form-label" for="field_user">Shop Owner</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null" disabled></option>
            <option [ngValue]="userOption" disabled *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>
    </div>

    <hr />
    <br />

    <div class="row">
      <div class="col button-row">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Upload</span>
        </button>
      </div>
    </div>
  </form>
</div>
