$main-pink: #ff6961;
$second-pink: #ffe7e7;
$main-blue: #000080;

label {
  color: $main-blue;
  font-weight: bold;
}

input[type='text'],
textarea,
input[type='number'],
select {
  background-color: $second-pink;
  border: none;
  border-radius: 10px;
}

.text-center button {
  margin: 0 10px;
  width: 150px;
  border-radius: 50px;
  border: none;
}

.cancelling-button {
  background-color: $main-blue;
}

.save-button {
  background-color: $main-pink;
}

.cancelling-button:hover {
  background-color: darkslategrey; /* Lighter pink on hover */
}
.save-button:hover {
  background-color: #f53a32;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensures it's above everything else */
}

.popup-box {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Smooth shadow for 3D effect */
  padding: 40px;
  width: auto; /* Adjust width as necessary */
}

.popup-content {
  font-size: 24px; /* Large readable text */
  text-align: center;
  color: #333; /* Darker text for better readability */
}
