<div>
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h1 class="big-title" id="jhi-feedback-heading" data-cy="FeedbackCreateUpdateHeading">Feedback</h1>

        <div>
          <br /><br />
          <jhi-alert-error></jhi-alert-error>

          <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>

          <!--          <div class="row mb-3">-->
          <!--            <label class="form-label" for="field_customerName">Customer Name</label>-->
          <!--            <input-->
          <!--              type="text"-->
          <!--              class="form-control"-->
          <!--              id="field_customerName"-->
          <!--              data-cy="customerName"-->
          <!--              formControlName="customerName"-->
          <!--              placeholder="Enter customer name"-->
          <!--            />-->
          <!--          </div>-->
          <div class="row mb-3">
            <label class="form-label fw-bold" for="field_customerName">Customer Name</label>
            <input type="text" class="form-control" id="field_customerName" data-cy="customerName" formControlName="customerName" />
            <small class="form-text text-danger" *ngIf="editForm.get('feedbackText')?.errors?.required"> This field is required. </small>
          </div>

          <div class="row mb-3">
            <label class="form-label fw-bold" for="field_feedbackText">Feedback Text</label>
            <textarea
              class="form-control"
              name="feedbackText"
              id="field_feedbackText"
              data-cy="feedbackText"
              formControlName="feedbackText"
            ></textarea>
            <div
              *ngIf="
                editForm.get('feedbackText')!.invalid && (editForm.get('feedbackText')!.dirty || editForm.get('feedbackText')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="editForm.get('feedbackText')?.errors?.required"> This field is required. </small>
            </div>
          </div>

          <!--          <div class="row mb-3">-->
          <!--            <label class="form-label" for="field_time">Time</label>-->
          <!--            <div class="d-flex">-->
          <!--              <input-->
          <!--                id="field_time"-->
          <!--                data-cy="time"-->
          <!--                type="datetime-local"-->
          <!--                class="form-control"-->
          <!--                name="time"-->
          <!--                formControlName="time"-->
          <!--                placeholder="YYYY-MM-DD HH:mm"-->
          <!--              />-->
          <!--            </div>-->
          <!--          </div>-->

          <div class="row mb-3">
            <label class="form-label fw-bold" for="field_shopName">Shop Name (Not required unless the feedback is for the shop)</label>
            <input type="text" class="form-control" id="field_shopName" data-cy="shopName" formControlName="shopName" />
          </div>
          <div *ngIf="editForm.get('shopName')?.value" class="row mb-3">
            <label class="form-label fw-bold" for="field_rating">Rating (From 5-1: 5:Best)</label>
            <input
              type="number"
              class="form-control"
              id="field_rating"
              data-cy="rating"
              formControlName="rating"
              placeholder="Enter rating"
            />
          </div>

          <!-- Shop rating input, shown only if shop name is entered -->
          <!--          <div class="row mb-3">-->
          <!--            <label class="form-label" for="field_shopName">Shop Name</label>-->
          <!--            <input-->
          <!--              type="text"-->
          <!--              class="form-control"-->
          <!--              id="field_shopName"-->
          <!--              data-cy="shopName"-->
          <!--              formControlName="shopName"-->
          <!--              placeholder="Enter shop name"-->
          <!--              (input)="checkShopName()"-->
          <!--            />-->
          <!--          </div>-->

          <div>
            <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondaryl" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp; <span>Cancel</span>
            </button>
            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"
              class="btn btn-primary"
              [class.enabled]="editForm.valid && !isSaving"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
            </button>
          </div>
          <!--          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">&ndash;&gt;-->
          <!--            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>-->
          <!--          </button>-->

          <!--          <button-->
          <!--            type="submit"-->
          <!--            id="save-entity"-->
          <!--            data-cy="entityCreateSaveButton"-->
          <!--            [disabled]="editForm.invalid || isSaving"-->
          <!--            class="btn btn-primary"-->
          <!--          >-->
          <!--            <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>-->
          <!--          </button>-->
        </div>
      </form>
    </div>
  </div>
</div>
