<div style="background-color: #f8e6e9">
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2 id="jhi-feedback-heading" data-cy="FeedbackCreateUpdateHeading">Feedback</h2>

        <div>
          <jhi-alert-error></jhi-alert-error>

          <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_customer">Name</label>
            <select
              class="form-control"
              id="field_customer"
              data-cy="customer"
              name="customer"
              formControlName="customer"
              [compareWith]="compareCustomer"
            >
              <option [ngValue]="null"></option>
              <option [ngValue]="customerOption" *ngFor="let customerOption of customersSharedCollection">{{ customerOption.id }}</option>
            </select>
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_feedbackText">Feedback Text</label>
            <textarea
              class="form-control"
              name="feedbackText"
              id="field_feedbackText"
              data-cy="feedbackText"
              formControlName="feedbackText"
            ></textarea>
            <div
              *ngIf="
                editForm.get('feedbackText')!.invalid && (editForm.get('feedbackText')!.dirty || editForm.get('feedbackText')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="editForm.get('feedbackText')?.errors?.required"> This field is required. </small>
            </div>
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_time">Time</label>
            <div class="d-flex">
              <input
                id="field_time"
                data-cy="time"
                type="datetime-local"
                class="form-control"
                name="time"
                formControlName="time"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_shop">Shop (not required) </label>
            <select class="form-control" id="field_shop" data-cy="shop" name="shop" formControlName="shop" [compareWith]="compareShop">
              <option [ngValue]="null"></option>
              <option [ngValue]="shopOption" *ngFor="let shopOption of shopsSharedCollection">{{ shopOption.id }}</option>
            </select>
          </div>
        </div>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
