//colors
$main-pink: #ff6961;
$main-blue: #000080;
$second-pink: #ffe7e7;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0 10px 0;
  height: 75vh;
}

.chat-big-box {
  height: 70vh;
}

/* h2 {
  position: absolute;
  top: 0;
  z-index: 2;
  margin-top: 10px;
}*/

.chatCard {
  position: relative;
  z-index: 1;
  border-radius: 40px;
  background-color: rgb(255, 231, 231);
  border: none;
  width: 65vw;
  padding-bottom: 20px;
}

/* Chat Contact List */
.leftBox {
  padding: 20px 0px 0px 40px;
  border-radius: 30px 0 0 30px;
  width: 30%;
  height: 100%;
}

.contactListName {
  margin-top: 20px;
}

.rightBox {
  padding: 15px 0 0 25px;
  width: 70%;
  height: 100%;
}

.searchBarBox {
  margin-bottom: 5px;
}

.searchBarInput {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(9px);
  border-radius: 25px;
  padding-left: 20px;
  height: 45px;
}

.contactList {
  height: 80%;
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.searchBarBox {
  border-radius: 30px;
}

.shopUsers {
  background: rgba(255, 255, 255, 0);
  width: 100%;
  border: none;
}

.imageNameBox {
  padding: 0 0px 0 5px;
  /* overflow: hidden; */
}

.userShopName {
  font-size: 15px;
}

/* Chat Title */
.chatName {
  height: 60px;
}

.chatBoxName {
  margin-left: 10px;
  border: none;
  text-decoration: none;
  background-color: rgb(255, 255, 255, 0);
}

.cusChatBoxName,
.chatBoxName {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 10px;
}

/* Scroll Bar */
.leftInnerBox {
  height: 100%;
}

.contactListScrollBarContainer {
  display: flex;
  column-gap: 10px;
  height: 70%;
  width: 98%;
}

.contactListScrollBar {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  border-radius: 10px 0 0 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(9px);
}

.contactListScrollBar::-webkit-scrollbar {
  width: 10px;
}

.contactListScrollBar::-webkit-scrollbar-track {
  border-radius: 8px;
  border: 1px solid #cacaca;
  background-color: white;
}

.contactListScrollBar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $main-pink;
}

.scrollBarContainer {
  display: flex;
  column-gap: 10px;
  height: 70%;
  width: 90%;
}

.scrollBar {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.scrollBar::-webkit-scrollbar {
  width: 10px;
}

.scrollBar::-webkit-scrollbar-track {
  border-radius: 8px;
  border: 1px solid #cacaca;
  background-color: white;
}

.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $main-pink;
}

/* Chat History */
.no-messages {
  text-align: center;
  padding-top: 30px;
}

.sayHi {
  background-color: rgb(255, 255, 184);
  padding: 10px;
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.messageBubble {
  margin-left: 10px;
  max-width: 42%;
  padding: 8px;
  border-radius: 10px;
}

.leftMessageBubble {
  background-color: white;
}

.rightMessageBubble {
  /* background-color: #ff6961; */
  background-color: rgb(255, 105, 97);
}

.messageContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.textAndTimestamp {
  display: flex;
  flex-direction: row;
  word-break: break-word;
}

.text {
  flex: 1; /* Allow text to take up remaining space */
  word-break: break-word; /* Allow text to break */
}

.timestamp {
  align-self: flex-end;
  color: black;
  font-size: 10px;
  margin-bottom: 2px;
  margin-left: 11px;
}

.sender {
  font-weight: bold;
  margin-right: 5px;
}

/* When current user receive message */
.justify-content-start {
  justify-content: flex-start;
}

/* When current user receive message */
.justify-content-end {
  justify-content: flex-end;
}

/* Send Message Input Group */
.input-group {
  border-radius: 15px;
  padding: 5px;
  max-width: 95%;
  text-align: center;
  margin: 0 auto;
  margin-right: 30px;
}

#addImgButton {
  border-radius: 20px 0 0 20px;
  border: none;
  background-color: white;
  padding: 0 0 0 15px;
}

#messageInput {
  margin: 0 20px 0 0;
  border-radius: 0 20px 20px 0;
  background-color: white;
  border: none;
}

#messageInput:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

#sendButton {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #3dc5b7;
  padding: 13px 15px 13px 12px;
}

.sendIcon {
  height: 20px;
}
