<main class="content">
  <div class="container">
    <h1 class="h3 mb-3">Messages</h1>

    <!--Entire Chat-->
    <div class="card">
      <div class="row g-0">
        <div class="contactList col-12 col-lg-5 col-xl-3 border-right">
          <div class="searchBarBox d-none d-md-block">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 px-4">
                <input type="text" class="form-control my-3" placeholder="Search..." />
              </div>
            </div>
          </div>

          <!-- Customer's Contact List-->
          <div *ngFor="let shop of shops">
            <button
              class="shopUsers"
              style="z-index: 1000"
              (click)="setReceiverLoginAndSendMessage(shop?.shopName || '', shop?.user?.id || 0)"
            >
              <a class="list-group-item list-group-item-action border-0 my-3">
                <div class="d-flex align-items-center justify-content-start px-4">
                  <img src="../../../../content/images/user2.png" class="rounded-circle" width="40" height="40" />
                  <div id="userShopName" class="userShopName px-2">
                    {{ shop?.shopName }}
                  </div>
                </div>
              </a>
            </button>
          </div>
        </div>

        <!-- Chat History -->
        <div class="col-12 col-lg-7 col-xl-9">
          <div class="chatName py-2 border-bottom d-none d-lg-block mb-3">
            <div *ngIf="showChatPerson" class="d-flex align-items-center py-1 px-4">
              <div class="position-relative">
                <img src="../../../../content/images/user2.png" class="rounded-circle" width="40" height="40" />
              </div>
              <div class="flex-grow-1 pl-3">
                <strong>{{ shopName }}</strong>
              </div>
              <div></div>
            </div>
          </div>

          <div class="position-relative scrollable">
            <ng-container *ngIf="showChatHistory">
              <!--If no message between currentUser and selected user-->
              <div *ngIf="!hasMessages()" class="no-messages">
                <span class="sayHi">Say hi to {{ shopName }}</span>
              </div>
              <!--If there are messages between currentUser and selected User-->
              <div *ngIf="hasMessages()" class="chat-messages py-3 px-4">
                <div class="chat-messages py-3 px-4">
                  <div class="chat-message" *ngFor="let chat of chats; trackBy: trackId">
                    <div
                      *ngIf="
                        (chat.senderLogin == currentUserId.toString() && chat.receiverLogin == shopUserId.toString()) ||
                        (chat.senderLogin == shopUserId.toString() && chat.receiverLogin == currentUserId.toString())
                      "
                      class="chat-message d-flex align-items-start pb-4"
                      [ngClass]="{
                        'justify-content-start': chat.senderLogin != currentUserId.toString(),
                        'justify-content-end': chat.senderLogin == currentUserId.toString()
                      }"
                    >
                      <img src="../../../../content/images/user2.png" class="rounded-circle mr-3 mb-2" width="40" height="40" />
                      <div class="messageContainer">
                        <div class="messageBubble">
                          <div class="messageContent">
                            <div *ngIf="chat.image">
                              <img
                                [src]="'data:' + chat.imageContentType + ';base64,' + chat.image"
                                class="chat-image"
                                style="max-height: 100px"
                              />
                            </div>
                            <div class="textAndTimestamp">
                              <div class="text">{{ chat?.message }}</div>
                              <div class="timestamp">{{ chat?.timestamp?.format('HH:mm') }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <!--Send Message-->
        <div *ngIf="showSendMessage" class="flex-grow-0 py-3 px-4 border-top">
          <div class="input-group">
            <!--Attach Document-->
            <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #fileInput />
            <button (click)="fileInput.click()">
              <img src="../../../../content/images/plus.svg" height="30px" width="30px" />
            </button>
            <!-- Display Selected Image -->
            <div *ngIf="selectedImageData">
              <img [src]="selectedImageData" style="max-height: 50px; z-index: 1000" />
            </div>
            <!--Text-->
            <input id="messageInput" type="text" class="form-control" placeholder="Type your message" />
            <button class="btn btn-primary" (click)="sendMessageAndNavigate()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!--Default-->
<div>
  <h2 id="page-heading" data-cy="ChatHeading">
    <span>Chats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chat"
        [routerLink]="['/chat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Chat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chats?.length === 0">
    <span>No Chats found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="chats && chats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="senderLogin">
            <div class="d-flex">
              <span>Sender Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="receiverLogin">
            <div class="d-flex">
              <span>Receiver Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="message">
            <div class="d-flex">
              <span>Message</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span>Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timestamp">
            <div class="d-flex">
              <span>Timestamp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let chat of chats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chat', chat.id, 'view']">{{ chat.id }}</a>
          </td>
          <td>{{ chat.senderLogin }}</td>
          <td>{{ chat.receiverLogin }}</td>
          <td>{{ chat.message }}</td>
          <td>
            <a *ngIf="chat.image" (click)="openFile(chat.image, chat.imageContentType)">
              <img [src]="'data:' + chat.imageContentType + ';base64,' + chat.image" style="max-height: 30px" alt="chat image" />
            </a>
            <span *ngIf="chat.image">{{ chat.imageContentType }}, {{ byteSize(chat.image) }}</span>
          </td>
          <td>{{ chat.timestamp | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/chat', chat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/chat', chat.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(chat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
