<div style="text-align: center" class="big-title">
  <h1 id="jhi-reservation-heading" data-cy="ReservationCreateUpdateHeading">Reserve</h1>
  <br />
  <h4 class="instructions">To reserve this item we would need some details from you!</h4>
</div>

<div style="display: flex; justify-content: center; padding: 20px">
  <div
    class="reservation-wrapper"
    style="
      display: flex;
      text-align: center;
      background-color: #fda6a0;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      padding: 10px;
    "
  >
    <!-- Image container on the left -->

    <div style="flex: 0.27; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 10px">
      <!-- Item Image -->
      <img
        *ngIf="itemImage"
        [src]="'data:' + itemImageContentType + ';base64,' + itemImage"
        alt="Item Image"
        style="max-width: 100%; border-radius: 20px; margin-bottom: 10px"
      />
      <!-- Add a margin to separate image and price -->

      <!-- Item Price -->
      <div style="font-weight: bold; margin-top: 10px">
        <!-- Style this div to match your design -->
        <label class="form-label">Item Price:</label>
        <div
          id="field_price"
          class="price-display"
          style="background-color: white; font-weight: bold; border-radius: 20px; margin-bottom: 10px; text-align: center"
        >
          £{{ price ? price.toFixed(2) : '0.00' }}
        </div>
      </div>
    </div>
    <!-- Form container on the right -->

    <div class="reservation-form" style="flex: 0.5; padding: 40px">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="table-responsive" style="background-color: #ffc0cb; /* Pink background */ border-radius: 10px">
          <table class="table">
            <tbody>
              <!-- Removed ID row, assuming you don't need to display it -->

              <!-- Name input -->

              <tr style="font-weight: bold">
                <td class="text-right">
                  <label for="customerFullName"><b> Full Name:</b></label>
                </td>

                <td>
                  <input
                    type="text"
                    id="customerFullName"
                    class="form-control"
                    formControlName="customerFullName"
                    ngModel
                    required
                    placeholderr="Your Full Name"
                  />
                  <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
                </td>
              </tr>

              <!-- Reserved Time input -->
              <tr style="font-weight: bold">
                <td class="text-right">
                  <label class="form-label" for="field_reservedTime">Reserved Time:</label>
                </td>
                <td>
                  <input
                    readonly
                    id="field_reservedTime"
                    data-cy="reservedTime"
                    type="datetime-local"
                    class="form-control"
                    name="reservedTime"
                    formControlName="reservedTime"
                    placeholder="YYYY-MM-DD HH:mm"
                  />
                </td>
              </tr>

              <!-- Reserved Expiry input -->
              <tr style="font-weight: bold">
                <td class="text-right">
                  <label class="form-label" for="field_reservedExpiry">Reserved Expiry:</label>
                </td>
                <td>
                  <input
                    readonly
                    id="field_reservedExpiry"
                    data-cy="reservedExpiry"
                    type="datetime-local"
                    class="form-control"
                    name="reservedExpiry"
                    formControlName="reservedExpiry"
                    placeholder="YYYY-MM-DD HH:mm"
                  />
                </td>
              </tr>

              <tr style="font-weight: bold">
                <td class="text-right">
                  <label class="form-label" for="field_item">Item:</label>
                </td>
                <td>
                  <input type="text" id="field_item" class="form-control" formControlName="item" [readonly]="true" [value]="itemName" />
                </td>
              </tr>
              <tr style="font-weight: bold">
                <td class="text-right">
                  <label class="form-label" for="field_shop">Shop:</label>
                </td>
                <td>
                  <input
                    type="text"
                    id="field_shop"
                    class="form-control"
                    [readonly]="true"
                    [value]="shopName || ''"
                  /><!-- Bind the shopName here -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-between mt-3">
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
          </button>
          <button type="button" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary" (click)="showModal()">
            <!--            (click)="navigateToConfirmation()"-->
            <!--          >-->
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Reserve Now!</span>
          </button>

          <!--          <button-->
          <!--            type="submit"-->
          <!--            id="saver-entity"-->
          <!--            data-cy="entityCreateSaveButton"-->
          <!--            [disabled]="editForm.invalid || isSaving"-->
          <!--            class="btn btn-primary">-->
          <!--&lt;!&ndash;            (click)="prepareReservation()"&ndash;&gt;-->
          <!--&lt;!&ndash;          >&ndash;&gt;-->
          <!--            <fa-icon icon="save"></fa-icon>&nbsp;<span>this saves the reservation so for pop up window!!!!</span>-->
          <!--          </button>-->

          <!-- Inline Confirmation Modal -->
          <div
            class="modal"
            *ngIf="isModalVisible"
            tabindex="-1"
            role="dialog"
            style="display: block; background-color: rgba(0, 0, 0, 0.5)"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header big-title">
                  <h5 style="text-align: center; font-weight: bold"><b>Confirm Reservation</b></h5>
                  <button type="button" class="close" (click)="hideModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>The item is reserved for only 48 hours!</p>
                  <p>You have to go to the shop, the item belongs to, to purchase it.</p>
                  <p>Are you sure you want to proceed with this reservation?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="hideModal()">Cancel</button>

                  <button type="button" class="btn btn-primary" (click)="confirmReservation()">Confirm Reservation!</button>

                  <!--&lt;!&ndash;                  <button type="button" id="confirm-and-save" data-cy="confirmSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="saveAndConfirm()">&ndash;&gt;-->
                  <!--                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Confirm and Save</span>-->
                  <!--                  </button>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="showPopup" class="popup-overlay">
    <div class="popup-box">
      <div class="popup-content">
        <h2 class="big-title">Reservation Confirmed!</h2>
        <br />
        <br />
        <h3>Would you like to give us feedback?</h3>
        <br />
        <br />
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary home_page" routerLink="/">Not Today</button>
          <button type="button" class="btn btn-primary feedback_page" routerLink="/feedback/new">Sure!</button>
        </div>
      </div>
    </div>
    <br /><br />
    <br /><br />
    <br />
  </div>
</div>
<!--</div>-->
