$main-pink: #ff6961;
$second-pink: #ffe7e7;
$main-blue: #000080;

.main-box {
  padding: 20px;
  height: 530px;
}

img {
  margin-top: 2%;
  width: 25%;
}

.big-subtitle {
  font-weight: bold;
  color: $main-pink;
  text-align: center;
  margin-top: 10px;
}

p {
  font-weight: bold;
}

.text-center button {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: $main-pink;
  font-weight: bold;
  color: white;
  font-size: 25px;
}
