<div class="big-container">
  <h2 class="big-title">Application Submitted</h2>
  <div class="main-box">
    <div class="row text-center">
      <div class="col">
        <img src="/content/images/tick.png" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2 class="big-subtitle">SUBMITTED!</h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <p>The charity will contact you through call or email.</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <a routerLink="/volunteer-post">
          <button>Return</button>
        </a>
      </div>
    </div>
  </div>
</div>
