@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

$main-pink: #ff6961;
$second-pink: #ffe7e7;

.navbar-brand {
  margin-left: 10px;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.navbar-collapse {
  display: block;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $second-pink;
    color: $main-pink;
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

.container-fluid {
  color: white;
  background-color: $main-pink;
  min-height: 80px;
  max-height: 80px;
}

.nav-text {
  color: white;
  font-weight: bold;
}

.dropdown-menu {
  background-color: $main-pink;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  background-color: $main-pink;
  color: white;
  font-weight: bold;
}

.dropdown-item:hover {
  background-color: $second-pink;
  color: $main-pink;
  font-weight: bold;
}

.nav-item:hover,
.nav-item.active {
  background-color: $second-pink;
  .nav-text {
    color: $main-pink;
    font-weight: bold;
  }
}

.logo-img {
  height: 75px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-CharityTreasures.png') no-repeat center center;
  background-size: contain;
}
