<div class="big-container">
  <h2 class="big-title">Item Uploaded!</h2>
  <div class="main-box">
    <div class="row text-center">
      <div class="col">
        <img src="/content/images/item_tick.png" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2 class="big-subtitle">UPLOADED!</h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <p>The item has successfully been uploaded for customers to view.</p>
        <p>Return to view the newly added item</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <a routerLink="/item">
          <button>Return</button>
        </a>
      </div>
    </div>
  </div>
</div>
