<!-- home.component.html -->
<div class="home-container">
  <!-- <div class="text-container"> -->
  <!--    for darkmode-->
  <!--
    <input type="checkbox" class="checkbox" id="dark-mode-toggle" (change)="toggleDarkMode()" />
    <label for="dark-mode-toggle" class="toggle-label"></label>
    -->

  <!-- <input type="button" id="dark-mode-id" class="dark-mode-btn" value="Dark Mode ON/OFF" (click)="darkMode()" /> -->

  <!--toggle for font size-->
  <!--    <input type="checkbox" class="checkbox" id="font-size-toggle" (change)="toggleFontSize()" />-->
  <!--    <label for="font-size-toggle" class="font-size-label"></label>-->

  <!-- Font size increase button -->

  <!-- Slider for font size adjustment -->
  <!-- <div class="font-slider-container">
      <label for="font-size-slider">Font Size:</label>
      <input type="range" id="font-size-slider" name="font-size" min="50" max="180" [(ngModel)]="fontSize" (input)="adjustFontSize()"/>
    </div> -->
  <!-- </div> -->
  <div class="text-container">
    <br /><br />
    <h3 class="welcome-text">WELCOME TO</h3>
    <h1 class="charity-title">CharityTreasures</h1>
    <br />
    <br />
    <h5 style="color: black">
      <h4>
        CharityTreasures is not just a platform; it's a community hub <br />
        that brings together convenience, connection, and <br />
        commitment to a better world!<br /><br />
      </h4>

      Discover a world of impact with CharityTreasures, where not only <br />
      can you explore a variety of items but also reserve your favorites<br />
      to ensure they're yours to purchase within 48 hours. <br />
      Navigate effortlessly through our interactive map to find charities <br />
      close to you and forge meaningful connections. <br />
      Our integrated chat feature allows for real-time conversations with <br />
      charities, making every interaction personal and impactful. <br />
      Stay in the loop with our events feature, a window to ongoing<br />
      and upcoming events that you can be a part of. <br /><br />
      Join us, and be part of a movement where every item reserved <br />
      and every event attended weaves you into the larger tapestry <br />
      of community service!
    </h5>
  </div>
  <div class="image-container">
    <img src="./../../../content/images/home-page.png" class="home-image" />
  </div>
</div>
