<!-- home.component.html -->
<div class="home-container">
  <div class="text-container">
    <!--    for darkmode-->
    <input type="checkbox" class="checkbox" id="dark-mode-toggle" (change)="toggleDarkMode()" />
    <label for="dark-mode-toggle" class="toggle-label"></label>

    <!--toggle for font size-->
    <!--    <input type="checkbox" class="checkbox" id="font-size-toggle" (change)="toggleFontSize()" />-->
    <!--    <label for="font-size-toggle" class="font-size-label"></label>-->

    <!-- Font size increase button -->

    <!-- Slider for font size adjustment -->
    <div class="font-slider-container">
      <label for="font-size-slider">Font Size:</label>
      <input type="range" id="font-size-slider" name="font-size" min="80" max="120" [(ngModel)]="fontSize" (input)="adjustFontSize()" />
    </div>
  </div>
  <div class="text-container">
    <br /><br />
    <h3 class="welcome-text">WELCOME TO</h3>
    <h1 class="charity-title">CharityTreasures</h1>
    <br />
    <h5 style="color: black">
      Bringing you and Charities together to lead a sustainable <br />
      lifestyle and giving back to community! <br /><br />
      Don't know where to find volunteering opportunities? <br />
      Don't worry we've got you covered :)
    </h5>
  </div>
  <div class="image-container">
    <img src="./../../../content/images/home-page.png" class="home-image" />
  </div>
</div>
