<!-- WHEN USER LOGIN -->
<div *jhiHasAnyAuthority="'ROLE_USER'">
  <div class="big-container">
    <h2 class="big-title">SHOPS NEAR ME</h2>
    <input type="checkbox" name="toggle-darkmode" id="toggle-darkmode" (change)="toggleDarkMode()" />
    <label for="toggle-darkmode">
      <img src="../../../../content/images/icon-sun.png" class="sun" alt="sun" />
      <img src="../../../../content/images/icon-moon.png" class="moon" alt="moon" />
    </label>
    <div class="map-container">
      <div class="row">
        <!-- Search Box -->
        <div class="col-4 left">
          <!-- Not Selected -->
          <ng-container *ngIf="!selectedShop">
            <div class="searchBox">
              <input
                type="search"
                class="shopSearch"
                name="shopSearch"
                id="shopSearch"
                placeholder="Search..."
                [(ngModel)]="searchQuery"
                (input)="filterShops()"
              />
              <div class="selection">
                <select name="sortBy" id="sortBy" [(ngModel)]="selectedSortCriteria" (change)="sortFilteredShops()">
                  <option value="sortBy" selected disabled>Sort By</option>
                  <option value="alphabeticalOrder">Alphabetical Order</option>
                  <option value="highestRating">Highest Rating</option>
                  <option value="shortestDisDur">Shortest Distance/Duration</option>
                </select>
              </div>
            </div>

            <!-- Display Shop list -->
            <div class="shop-list">
              <ng-container *ngIf="filteredShops">
                <div *ngIf="filteredShops.length > 0; else noShopsFound">
                  <div
                    *ngFor="let shop of filteredShops"
                    (click)="directSpecificShopLocation(shop)"
                    (click)="selectedShop && displaySelectedShopDetails(selectedShop)"
                    class="shop-list-container"
                  >
                    <div class="row shop-title">
                      <div class="col-8">
                        <p class="shop-name">{{ shop.shopName }}</p>
                      </div>
                      <div class="col">
                        <p class="shop-distance">{{ shop.distance | number: '1.2-2' }} km</p>
                      </div>
                    </div>
                    <hr />
                    <div class="row shop-info">
                      <div class="col-6">
                        <p class="shop-rating">{{ shop.rating }}</p>
                      </div>
                      <div class="col">
                        <p class="shop-duration">{{ shop.duration }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <p class="shop-address">{{ shop.street }}, {{ shop.city }}, {{ shop.postCode }}, {{ shop.country }}</p>
                    </div>
                    <div class="row">
                      <p class="shop-contact">{{ shop.contactNum }}</p>
                    </div>
                    <div class="row">
                      <p class="shop-email">{{ shop.shopEmail }}</p>
                    </div>
                  </div>
                </div>
                <ng-template #noShopsFound>
                  <div class="no-shop-found">No Shops found</div>
                </ng-template>
              </ng-container>
            </div>
          </ng-container>

          <!-- Selected -->
          <ng-container *ngIf="selectedShop">
            <div class="row selected-scroll">
              <div class="selected-shop-container">
                <div class="col">
                  <img [src]="'data:' + selectedShop.logoContentType + ';base64,' + selectedShop.logo" alt="shop image" class="logo" />
                </div>
                <div class="selected-shop-title">
                  <div class="row">
                    <div class="col-8">
                      <p class="selected-shop-name">{{ selectedShop.shopName }}</p>
                    </div>
                    <div class="col">
                      <p class="selected-shop-distance">{{ selectedShop.distance | number: '1.2-2' }} km</p>
                    </div>
                  </div>
                </div>
                <hr class="selected-hr" />
                <div class="row shop-info">
                  <div class="col-6">
                    <p class="selected-shop-rating">{{ selectedShop.rating }}</p>
                  </div>
                  <div class="col">
                    <p class="selected-shop-duration">{{ selectedShop.duration }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2"><img src="../../../../content/images/icon-address.png" alt="addres" class="icon" /></div>
                  <div class="col">
                    <p class="selected-shop-address">
                      {{ selectedShop.street }}, {{ selectedShop.city }}, {{ selectedShop.postCode }}, {{ selectedShop.country }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2"><img src="../../../../content/images/icon-Contact.png" alt="contactNum" class="icon" /></div>
                  <div class="col">
                    <p class="selected-shop-contact">{{ selectedShop.contactNum }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2"><img src="../../../../content/images/icon-Email.png" alt="email" class="icon" /></div>
                  <div class="col">
                    <p class="selected-shop-email">{{ selectedShop.shopEmail }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2"><img src="../../../../content/images/icon-openHours.png" alt="openHours" class="icon" /></div>
                  <div class="col">
                    <p class="selected-shop-openHours">Open Hours :-</p>
                    <div class="row">
                      <div class="col"><p>Weekdays</p></div>
                      <div class="col">
                        <p class="selected-shop-weekDays">{{ selectedShop.openHoursWeekdays }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col"><p>Weekends</p></div>
                      <div class="col">
                        <p class="selected-shop-weekEnds">{{ selectedShop.openHoursWeekends }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col"><p>Public Holidays</p></div>
                      <div class="col">
                        <p class="selected-shop-publicHolidays">{{ selectedShop.openHoursHolidays }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="button-row">
                    <div class="col">
                      <input type="button" value="Contact Us" class="contact" (click)="goToChat()" />
                    </div>
                  </div>
                  <div class="button-row2">
                    <div class="col">
                      <input type="button" value="Navigate" class="navigate" (click)="startRouting()" />
                      <input type="button" value="Back" class="back" (click)="goBack()" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <!-- Display Map -->
        <div id="map-box" class="col map-box">
          <div id="map-container-rectangle" class="map-container-rectangle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ADMIN SIDE -->

<div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="admin-main-box">
  <h2 id="page-heading" data-cy="ShopHeading" class="big-title">Shops</h2>
  <div class="d-flex justify-content-end">
    <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span>Refresh list</span>
    </button>

    <!-- <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-shop"
      [routerLink]="['/shop/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span> Create a new Shop </span>
    </button> -->
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="shops?.length === 0">
    <span>No Shops found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="shops && shops.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopName">
            <div class="d-flex">
              <span>Shop Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactNum">
            <div class="d-flex">
              <span>Contact Num</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopEmail">
            <div class="d-flex">
              <span>Shop Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="charityShopId">
            <div class="d-flex">
              <span>Charity Shop Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="openHoursWeekdays">
            <div class="d-flex">
              <span>Open Hours Weekdays</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="openHoursWeekends">
            <div class="d-flex">
              <span>Open Hours Weekends</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="openHoursHolidays">
            <div class="d-flex">
              <span>Open Hours Holidays</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="street">
            <div class="d-flex">
              <span>Street</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="city">
            <div class="d-flex">
              <span>City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postCode">
            <div class="d-flex">
              <span>Post Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="country">
            <div class="d-flex">
              <span>Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span>Creation Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="logo">
            <div class="d-flex">
              <span>Logo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating">
            <div class="d-flex">
              <span>Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="distance">
            <div class="d-flex">
              <span>Distance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duration">
            <div class="d-flex">
              <span>Duration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span>User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let shop of shops; trackBy: trackId"
          data-cy="entityTable"
          class="admin-tr"
          (click)="onTableRowClick($event, shop.id.toString())"
        >
          <td>{{ shop.id }}</td>
          <td>{{ shop.shopName }}</td>
          <td>{{ shop.contactNum }}</td>
          <td>{{ shop.shopEmail }}</td>
          <td>{{ shop.charityShopId }}</td>
          <td>{{ shop.openHoursWeekdays }}</td>
          <td>{{ shop.openHoursWeekends }}</td>
          <td>{{ shop.openHoursHolidays }}</td>
          <td>{{ shop.street }}</td>
          <td>{{ shop.city }}</td>
          <td>{{ shop.postCode }}</td>
          <td>{{ shop.country }}</td>
          <td>{{ shop.creationDate | formatMediumDate }}</td>
          <td>
            <a *ngIf="shop.logo" (click)="openFile(shop.logo, shop.logoContentType)">
              <img [src]="'data:' + shop.logoContentType + ';base64,' + shop.logo" style="max-height: 30px" alt="shop image" />
            </a>
            <span *ngIf="shop.logo">{{ shop.logoContentType }}, {{ byteSize(shop.logo) }}</span>
          </td>
          <td>{{ shop.rating }}</td>
          <td>{{ shop.distance }}</td>
          <td title="{{ shop.duration }}">{{ shop.duration | duration }}</td>
          <td>
            {{ shop.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/shop', shop.id, 'view']"
                (click)="$event.stopPropagation()"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/shop', shop.id, 'edit']"
                (click)="$event.stopPropagation()"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(shop)"
                (click)="$event.stopPropagation()"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
