$main-pink: #ff6961;
$second-pink: #ffe7e7;
$main-blue: #000080;

.big-item-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.filter-box {
  float: left;
  width: 20%;
  height: 440px;
  overflow-y: scroll;
  background-color: $second-pink;
  padding: 1%;

  &::-webkit-scrollbar {
    width: 8px; // Adjust the width of the scrollbar as needed
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-pink; // Color of the scrollbar thumb
    border-radius: 6px; // Adjust the border radius as needed
  }

  &::-webkit-scrollbar-track {
    background-color: #ffc1c1; // Color of the scrollbar track
    border-radius: 8px; // Adjust the border radius as needed
  }

  .filter-title {
    color: $main-blue;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
  }

  input[type='checkbox'] {
    height: 20px;
    margin: auto 0;
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: 0;
  }

  label {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }

  .subcat {
    padding-left: 10px;
  }

  .subsubcat {
    padding-left: 10px;
  }

  hr {
    margin: 0 auto;
  }
}

.main-box {
  float: right;
  width: 80%;
  height: 440px;
  background-color: white;
  padding: 0;

  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px; // Adjust the width of the scrollbar as needed
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-pink; // Color of the scrollbar thumb
    border-radius: 6px; // Adjust the border radius as needed
  }

  &::-webkit-scrollbar-track {
    background-color: #ffc1c1; // Color of the scrollbar track
    border-radius: 8px; // Adjust the border radius as needed
  }
}

.big-container {
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.productDisplay {
  padding: 5px 5px;
}

.row-divider {
  height: 10px;
}

.row-divider-mini {
  height: 5px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.productCard {
  background-color: white;
  height: 300px;
  padding: 10px 5px;
  width: 220px;
  border-radius: 7px;
  overflow: hidden;
  transition: 1s ease;
  border: 2px solid transparent;
  margin: 15px;
  box-sizing: border-box;

  &:hover {
    background: radial-gradient(circle, $second-pink 50%, transparent 50%);
    background-size: 500%;
    background-position: center;
    border-color: $main-pink;
    box-shadow: 0 4px 8px $main-pink;
    cursor: pointer;
  }
}

h2.page_title {
  margin: 5px auto;
  width: 200px;
  text-align: center;
}

.card-img {
  height: 70%;
  width: auto;
  margin: 0;

  img {
    height: 100%;
    margin: 0 auto;
  }
}

.card-details {
  margin: 0;
  padding: 0px 15px;
}

.card-name {
  color: $main-blue;
  width: 100%;
  font-size: 1.3rem;
  display: -webkit-box;
  /* Set as a block-level element */
  -webkit-box-orient: vertical;
  /* Set the direction of the box */
  overflow: hidden;
  /* Hide any overflowing text */
  -webkit-line-clamp: 1;
}

.card-name,
.card-price {
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card-price {
  color: $main-pink;
}

.card-price .original-price {
  text-decoration: line-through;
}

.card-price .discounted-price {
  color: red;
}

.card-price .discount-percentage {
  color: red;
}

select {
  background-color: $second-pink;
  height: 100%;
  padding: 7px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;

  option:hover {
    background-color: #ffc1c1;
  }
}

table {
  margin: 0;
}

thead {
  color: $main-blue;
  border-bottom: $main-pink 1px solid;

  th {
    text-align: center !important;
    align-items: center;
  }
}

img {
  max-height: 150px;
  max-width: 150px;
}

tbody {
  tr {
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $second-pink;
      cursor: pointer;
    }
  }
}

.edit-btn {
  background-color: $main-blue;
}
