$main-pink: #ff6961;
$main-blue: #000080;
$second-pink: #ffe7e7;
$event-pink: #ffc9c9;

.interested-event-list-container {
  background-color: white;
  width: 90%;
  margin: auto;
}

.interested-event-info-box {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-top: 15px;
  padding-left: 20px;
  min-width: 1100px;
  max-width: 1100px;
  background-color: $event-pink;
}

.button-from-interested-events-to-events {
  //margin-right: 25px;
  position: absolute;
  left: 200px;
  font-size: 15px;
  border-radius: 20px;
  background-color: $event-pink;
  font-weight: bold;
  border: none;
  min-width: 50px;
  height: 37px;
}

.button-from-interested-events-to-events:hover {
  background-color: $main-pink;
  transition: 0.5s;
}

.interested-events-reload {
  //margin-right: 700px;
  position: absolute;
  left: 300px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  background-color: $main-pink;
  border: none;
  height: 37px;
}

hr {
  background-color: $main-pink;
  border: 0;
  height: 4px;
  opacity: 1;
}

h2 {
  color: $main-blue;
  a {
    color: $main-blue;
  }
}
