$main-pink: #ff6961;
$main-blue: #000080;
$second-pink: #ffe7e7;
$event-pink: #ffc9c9;

input[type='text'],
select,
textarea {
  background-color: $second-pink;
}

label {
  color: $main-blue;
  font-weight: bold;
}

.form-text-box-1 {
  width: 400px;
  border-radius: 8px;
  // display: inline-block;
  margin-bottom: 15px;
}

/*
.form-text-box-2 {
  width: 400px;
  border-radius: 8px;
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 15px;
}

 */
hr {
  background-color: $main-pink;
  border: 0;
  height: 4px;
  opacity: 1;
}

h2 {
  color: $main-blue;
}
